
body{
    color: white;
    margin: 0px;
    padding: 0px;
    background: url('items/Background.jpg')no-repeat center center/cover;
}

.left {
    display: inline-block;
    position: absolute;
    left: 60px;
    top: 20px;
}

.left img {
    width: 120px;
    height: 100px;
    filter: invert(100%);
}

.left div {
    line-height: 19px;
    font-size: 26px;
    text-align: center;
}

.mid {
    display: block;
    width: fit-content;
    margin: 29px auto;
    background: rgba(0, 0, 0, 0.692);
    border-radius: 8px;
}

.right {
    position: absolute;
    right: 34px;
    top: 43px;
    display: inline-block;
}

.navbar {
    display: inline-block;
}

.navbar li {
    display: inline-block;
    font-size: 2rem;
}

.navbar li a {
    color: white;
    text-decoration: none;
    padding: 34px 23px;

}

.navbar li a:hover,
.navbar li a.active {
    text-decoration: underline;
    color: red;

}

.btn {
    margin: 0px 9px;
    background-color: black;
    color: white;
    padding: 4px 14px;
    border: 2px solid grey;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(40, 170, 138);
}

.main-cont{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    border: 2px solid white;
    padding: 45px;
    width: 33%;
    border-radius: 28px;
    background-color: rgba(137, 43, 226, 0.658);
}

.form-group input{
    text-align: center;
    display: block;
    width: 508px;
    padding: 1px;
    border: 2px solid black;
    margin: 11px auto;
    font-size: 25px;
    border-radius: 8px;
}

.container h1 {
    text-align: center;
}

.container button {
    display: block;
    width: 74%;
    margin: 20px auto;
}

